/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../home/tysweezy/.rvm/gems/ruby-1.9.3-p547/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/***centerlizing imports***/
/*** main navigation styles ***/
/* line 4, ../sass/nav.scss */
nav.main-nav {
  width: 100%;
  background-color: #28BDBC;
}
/* line 8, ../sass/nav.scss */
nav.main-nav ul li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 15px 37.2px;
  border-right: 1px solid #fff;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
  margin-left: -3px;
}
/* line 15, ../sass/nav.scss */
nav.main-nav ul li:hover {
  background: #1B7F7F;
  cursor: pointer;
}
/* line 21, ../sass/nav.scss */
nav.main-nav li:last-child {
  border-right: none;
}
/* line 23, ../sass/nav.scss */
nav.main-nav a {
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
}

/*** header styles ***/
/* line 4, ../sass/header.scss */
.container {
  position: relative;
}

/* line 6, ../sass/header.scss */
#header-right {
  position: absolute;
  right: 0;
  top: 20px;
}

/*** Variables and mixins ***/
/* line 11, ../sass/_base.scss */
html, body {
  max-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_base.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 22, ../sass/_base.scss */
.wrapper {
  background: #fff3e7;
  color: #6e6566;
  height: 100%;
}

/* line 28, ../sass/_base.scss */
#conferene-info {
  width: 45%;
  height: 300px;
  padding-top: 10px;
}

/* line 34, ../sass/_base.scss */
.page-content {
  margin: 20px 0;
  position: relative;
}

/*** background placeholder for slider ***/
/* line 4, ../sass/conference-rotate.scss */
#rotating-cities {
  background: #000;
  width: 55%;
  height: 300px;
  position: absolute;
  right: 0;
  top: -20px;
}
/* line 12, ../sass/conference-rotate.scss */
#rotating-cities div > img {
  max-width: 100%;
  height: 300px;
}

/* line 18, ../sass/conference-rotate.scss */
.owl-nav {
  position: absolute;
  top: 45%;
}
/* line 22, ../sass/conference-rotate.scss */
.owl-nav .owl-next {
  position: absolute;
  left: 500px;
}

/* line 27, ../sass/conference-rotate.scss */
.owl-controls .owl-nav [class*="owl-"] {
  background: #28bdbc !important;
}
/* line 30, ../sass/conference-rotate.scss */
.owl-controls .owl-nav [class*="owl-"]:hover {
  background: #cccccc !important;
}

/* line 37, ../sass/conference-rotate.scss */
.owl-dots {
  position: absolute;
  left: 40%;
  bottom: 5px;
}

/* line 43, ../sass/conference-rotate.scss */
.slide-title {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 999;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

/*** Variables and mixins ***/
/* line 11, ../sass/_base.scss */
html, body {
  max-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_base.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 22, ../sass/_base.scss */
.wrapper {
  background: #fff3e7;
  color: #6e6566;
  height: 100%;
}

/* line 28, ../sass/_base.scss */
#conferene-info {
  width: 45%;
  height: 300px;
  padding-top: 10px;
}

/* line 34, ../sass/_base.scss */
.page-content {
  margin: 20px 0;
  position: relative;
}

/* line 3, ../sass/testimonials.scss */
#testimonial-slogan {
  background: #28bdbc;
  color: white;
  padding: 10px 15px;
  margin: -30px 0;
}
/* line 9, ../sass/testimonials.scss */
#testimonial-slogan p {
  width: 30%;
  font-weight: bold;
  font-size: .9em;
  line-height: 1.2em;
}

/*** Variables and mixins ***/
/* line 11, ../sass/_base.scss */
html, body {
  max-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_base.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 22, ../sass/_base.scss */
.wrapper {
  background: #fff3e7;
  color: #6e6566;
  height: 100%;
}

/* line 28, ../sass/_base.scss */
#conferene-info {
  width: 45%;
  height: 300px;
  padding-top: 10px;
}

/* line 34, ../sass/_base.scss */
.page-content {
  margin: 20px 0;
  position: relative;
}

/*** typography styles ***/
/* line 2, ../sass/typography.scss */
body {
  font-family: Arial, sans-serif;
}

/* line 6, ../sass/typography.scss */
h1, h2 {
  margin-bottom: 10px;
}

/* line 8, ../sass/typography.scss */
h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #28bdbc;
}

/* line 14, ../sass/typography.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
  color: #28bdbc;
}

/* line 20, ../sass/typography.scss */
a#registerBtn {
  background: #28bdbc;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 1.2em;
  right: 0;
  position: absolute;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
/* line 32, ../sass/typography.scss */
a#registerBtn:hover {
  background: #1B7F7F;
  cursor: pointer;
}
