/*** Variables and mixins ***/
/* line 11, ../sass/_base.scss */
html, body {
  max-height: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 17, ../sass/_base.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 22, ../sass/_base.scss */
.wrapper {
  background: #fff3e7;
  color: #6e6566;
  height: 100%;
}

/* line 28, ../sass/_base.scss */
#conferene-info {
  width: 45%;
  height: 300px;
  padding-top: 10px;
}
/* line 33, ../sass/_base.scss */
#conferene-info p {
  line-height: 1.2em;
}

/* line 38, ../sass/_base.scss */
.page-content {
  margin: 20px 0;
  position: relative;
}

/* line 4, ../sass/testimonials.scss */
#testimonial-slogan {
  background: #28bdbc;
  color: white;
  padding: 10px 15px;
  margin: -30px 0;
  height: 55px;
}
/* line 11, ../sass/testimonials.scss */
#testimonial-slogan p {
  width: 30%;
  font-weight: bold;
  font-size: .9em;
  line-height: 1.2em;
}

/* line 19, ../sass/testimonials.scss */
#decipherLogo {
  margin-top: 50px;
}
/* line 23, ../sass/testimonials.scss */
#decipherLogo img {
  width: 15%;
}

/* line 28, ../sass/testimonials.scss */
ul#company-logos {
  margin: -35px 0 0 300px;
}
/* line 30, ../sass/testimonials.scss */
ul#company-logos li {
  display: inline-block;
  margin: 0 10px;
}

/* line 36, ../sass/testimonials.scss */
#quotes {
  width: 70%;
  background: white;
  padding: 20px;
  -moz-border-radius-bottomleft: 45px;
  -webkit-border-bottom-left-radius: 45px;
  border-bottom-left-radius: 45px;
  -moz-border-radius-bottomright: 45px;
  -webkit-border-bottom-right-radius: 45px;
  border-bottom-right-radius: 45px;
  position: absolute;
  right: 3%;
  margin-top: -75px;
}
/* line 46, ../sass/testimonials.scss */
#quotes div > p {
  line-height: 1.2em;
  font-size: 0.9em;
}
/* line 50, ../sass/testimonials.scss */
#quotes div > p span {
  font-size: 0.8em;
}
